<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav class="nav-bar">
        <a href="#" class="nav-bar-links" style="text-decoration: none;">Home</a>
        <a href="#" class="nav-bar-links" style="text-decoration: none;">About</a>
        <a href="#" class="nav-bar-links" style="text-decoration: none;">Service</a>
        <a href="#" class="nav-bar-links" style="text-decoration: none;">Contact</a>
    </nav>
    <form action="POST">
        <p class="text-input">Username<input type="text" name="username" style="margin-left: 2rem;"></p>
        
        <p class="text-input">Password<input type="password" name="password" style="margin-left: 2rem;"></p>
    </form>
</body>
</html>